{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="widget-list">
        <div class="row">
            <div class="widget-holder col-md-12">
                <div class="widget-bg-transparent">
                    <div class="widget-body">
                        <div class="timeline">

                        </div>
                        <!-- /.timeline -->
                    </div>
                    <!-- /.widget-body -->
                </div>
                <!-- /.widget-bg-transparent -->
            </div>
            <!-- /.widget-holder -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.widget-list -->
{% endblock %}